<div class="d-flex flex-column align-items-center justify-content-center h-75 banner" >
    <div class="d-flex flex-column align-items-center">
        <p class="display-3 fw-bolder text-center"> Compartilhe momentos, lugares e sonhos.</p>
        <p class="subtext bg-light text-center d-none d-lg-block"> Conecte-se com quem também ama viajar e deixe a vida te guiar por descobertas incríveis!</p>
    </div>

    <div>
        <button mat-raised-button color="primary" class="m-3" type="button">Login</button>
        <button mat-raised-button color="primary" type="button">Cadastro</button>
    </div>
</div>