<div class="d-flex flex-column align-items-center justify-content-center h-75 banner" >
    <div class="d-flex flex-column align-items-center">
        <p class="display-5"> Compartilhe momentos, lugares e sonhos.</p>

        <p> Conecte-se com quem também ama viajar e deixe a gente te guiar por descobertas incríveis.</p>
    </div>

    <div>
        <button class="btn btn-primary m-3" type="button">Login</button>
        <button class="btn btn-outline-primary" type="button">Cadastro</button>
    </div>
</div>