<div class="body container d-flex justify-content-center align-items-center mt-5">
  <div class="wrapper p-5 shadow rounded">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <h2>Cadastro</h2>
      <p>Seja bem-vindo(a) de volta!</p>
      <mat-stepper orientation="vertical" linear>
        <mat-form-field appearance="fill">
          <mat-step label="Preencha com seu nome" completed="true">
            <mat-label>Nome</mat-label>
            <input class="border " matInput placeholder="Seu nome" formControlName="nome" required />
            <mat-error *ngIf="signupForm.get('nome')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-icon matPrefix>person</mat-icon>
          </mat-step>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-step label="Preencha o título" completed="true">
            <mat-label>Seu título</mat-label>
            <input class="border " matInput placeholder="Ex: Férias de verão" formControlName="nick" required />
            <mat-error *ngIf="signupForm.get('nick')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-icon matPrefix>person</mat-icon>
          </mat-step>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-step label="Preencha com sua data de nascimento" completed="true">
            <mat-label>Sua data de nascimento</mat-label>
            <input class="border " matInput [matDatepicker]="picker" formControlName="dataNasc" required />
            <mat-error *ngIf="signupForm.get('data')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-step>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-step label="Preencha com seu email" completed="true">
            <mat-label>Email</mat-label>
            <input class="border " matInput placeholder="Seu email" formControlName="email" required />
            <mat-error *ngIf="signupForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-error *ngIf="signupForm.get('email')?.errors?.['email']">Email inválido</mat-error>
            <mat-icon matPrefix>email</mat-icon>
          </mat-step>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-step label="Preencha com sua senha" completed="true">
            <mat-label>Senha</mat-label>
            <!-- <input matInput [type]="ocultar ? 'password' : 'text'" placeholder="Sua senha" formControlName="senha"
            type="text" required> -->
            <input class="border " matInput placeholder="Sua senha" formControlName="senha" [type]="ocultar ? 'password' : 'text'" required />
            <mat-error *ngIf="signupForm.get('senha')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-error *ngIf="signupForm.get('senha')?.errors?.['minlength']">O mínimo são 8 caracteres
            </mat-error>
            <mat-icon matPrefix>key</mat-icon>
            <button type="button" mat-icon-button matSuffix (click)="ocultar = !ocultar" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="ocultar">
            <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
          </mat-step>
        </mat-form-field>
        <mat-step label="Confirme sua senha" completed="true">
          <mat-label>Confirmar senha</mat-label>
          <input class="border " matInput placeholder="Confirmar senha" formControlName="confirma_senha"
            type="password" />
          <mat-icon matPrefix>key</mat-icon>
        </mat-step>
        <mat-step label="Preencha o captcha para prosseguir com o cadastro" completed="true">
          <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha" required>
          </ngx-recaptcha2>
        </mat-step>
        <mat-step label="Cadastrar" completed="true">
          <span class="mat-error"
            *ngIf="signupForm.errors?.['matchPasswords'] && signupForm.get('confirma_senha')?.touched">
            As senhas não correspondem
          </span>
          <button mat-raised-button color="primary" [disabled]="signupForm.invalid">
            Cadastrar
          </button>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>